<h1>Artículos</h1>
<%= button_to "New article", new_article_path, method: :get, class: "btn btn-primary" %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <h2>
        <a href="/articles/<%= article.id %>">
          <%= article.title %>
        </a>
      </h2>
      <p><%= article.body %></p>
    </li>
    <hr/>
  <% end %>
</ul>
<%= button_to "New article", new_article_path, method: :get, class: "btn btn-primary" %>