<div id="<%= dom_id @article %>" class="article-container">
  <h2>
    <strong>Title:</strong>
    <%= @article.title %>
  </h2>

  <p>
    <strong>Body:</strong>
    <%= @article.body %>
  </p>
</div>



<div class="button-group">
  <% if user_signed_in? %>
    <%= button_to "Edit this article", edit_article_path(@article), method: :get, class: "btn btn-primary" %>
    <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
    <%# = link_to "Edit this article", edit_article_path(@article) %>
  <% end %>
  
  <%= button_to "Back to articles", articles_path, method: :get, class: "btn btn-secondary" %>
  <%# link_to "Back to articles", articles_path %>
  
</div>

<!-- Separador visual -->
<hr class="my-4">

<h4> Comentarios: </h4>
<div class="comments-container">
  <%= render @article.comments %>
</div>  

<h4>Agregar un comentario:</h4>
<%= render "comments/form", article: @article %>
